caption {
  padding: 10px;
}

pre.well-small, pre.alert-success {
  word-break: normal;
  word-wrap: normal;
  font-family: Arial;
  width: 70%;
}
#erfahrungen {
  padding-left: 50px;
}
#studentTables h1 {
  margin-left:40px;
}

#studentTables table {
  width: 1000px;
}

#studentTables td {
  text-align:left;
}

#studentTables td:nth-child(even) {
  background-color: #CCC;
}